# Obtido no Discord Developer Portal
BOT_TOKEN=

# Conexão MongoDB (Se DATABASE.ENABLE = true)
MONGODB_URI=mongodb://localhost:27017/bot-template

# Webhook para Logs de Erro (Opcional)
ERROR_WEBHOOK_URL=https://discord.com/api/webhooks/...